.header-menu-item {
  height: 100%;
  margin: 4px;
  color: black;
  min-width: 100px;
}

.header-menu-item a {
  text-decoration: none;
  color: inherit;
}

.header-menu-item a:hover {
  font-weight: 600;
}
