.footer4 {
  background-color: #3fa25f;
  flex-direction: column;

  .logo {
    width: 350px;
    display: flex;
    flex-direction: row;
    color: #fff;
  }

  .menu,
  .menu-item,
  .text {
    color: #fff;
  }

  .text {
    font-weight: 600;
    max-width: 400px;
    text-align: center;
  }

  .row {
    flex-direction: row;
  }

  .center {
    justify-content: center;
    align-items: center;
  }

  .list {
    width: 100%;
    list-style: none;
    padding: 0;

    li {
      margin: 10px 0;
    }
  }

  .link {
    text-decoration: none;
    color: #fff;
  }

  .link:hover {
    font-weight: bold;
  }
}
