.header-menu {
  display: flex;
  width: 100%;
  min-width: 160px;
  padding: 0 8px;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.header-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
