.footer-menu {
  display: flex;
  min-width: 160px;
  padding: 0 8px;
  box-sizing: border-box;
}

.footer-menu h4 {
  margin-bottom: 0;
  text-align: left;
}

.footer-menu ul {
  list-style: none;
  padding: 0;
  display: flex;
  align-items: flex-start;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}
