.header3 {
  background-color: #485a7c;
  padding: 32px;
  box-sizing: border-box;
}

.header3-item {
  color: #fff;

  & a {
    display: block;
    height: 55px;
    line-height: 55px;
    border-bottom: 2px solid #fff;
  }

  &:hover a {
    border: none;
  }
}
