.header-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.left,
  &.right {
    width: 30%;
  }

  &.middle {
    width: 40%;
  }
}

.fullWidth {
  width: 100%;
}
