.header3-logo {
  width: 400px;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  margin-right: 24px;

  .text {
    width: 150px;
    color: #fff;
  }
}
