.footer2 {
  background-color: #fff;
  padding: 32px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

.footer2-block {
  align-items: flex-start;
}

.footer2-menu {
  padding: 0;
}

.footer2-menu-item {
  color: #0099da;
  text-decoration: none;
}

.footer2-copyright {
  color: #808890;
  font-size: 16px;
  line-height: 25px;
  font-weight: 600;
}

.text {
  text-align: left;
  color: #808890;
  font-size: 87%;
}
