.header-button {
  background: none;
  border: none;
  padding: 8px 16px;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin-right: 8px;

  &.primary {
    background-color: #000;
  }

  &.primary:hover {
    background-color: #c9c9c9;
  }

  &.secondary {
    border: 1px solid #000;
  }
}
